<!-- contact.html -->

<div class="contact">
    <h2>Interested?</h2>
    <p style="width: 700px;">Join a community of innovators exploring the limitless possibilities of AI and machine learning. Discover, learn, and make an impact with us.</p>

    <form method="POST" action="{% url 'contact_view' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            {{ form.name|default:"John Doe" }}
        </div>

        <div class="form-group">
            <label for="id_subject">Subject</label>
            {{ form.subject|default:"General Inquiry" }}
        </div>

        <div class="form-group">
            <label for="id_email">Email</label>
            {{ form.email|default:"example@example.com" }}
        </div>

        <div class="form-group">
            <label for="id_message">Message</label>
            {{ form.message|default:"" }}
        </div>
        <button type="submit">Send Message</button>
    </form>

    <a class="join_bc" href="https://discord.gg/gnuFjMQfgD" target="_blank">BC Student? Click here.</a>
</div>
