{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston College Machine Learning Group</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class = "nav-container">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        </a>
            <a href="{% url 'eboard' %}">Meet the Board</a>
            <a href="{% url 'events' %}">Calendar</a>
            
            <div class="dropdown">
                <button class="dropbtn">Our Programs</button>
                <div class="dropdown-content">
                    <a href="{% url 'lectures' %}">Lectures</a>
                <a href="{% url 'workshops' %}">Workshops</a>
                <a href="{% url 'resources' %}">Resources</a>
                </div>
                <a href="https://discord.gg/gnuFjMQfgD" target="_blank">Join</a>
            </div>
        </div>
    </nav>

   <!-- Executive Board Section-->
    <div class="eboard">
        <h2 style="margin-top: 120px;">Meet the Board</h2>
        <p style="margin-top: -20px;">Put a face to the name!</p>
        <div class="board">
            <div class="board-member">
                <img src="{% static 'images/jason.jpg' %}" class="board-image">
                <h3>President</h3>
                <p>Jason Adhinarta</p>
                <a href="https://www.linkedin.com/in/jason-adhinarta/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
            <div class="board-member">
                <img src="{% static 'images/steve.jpg' %}" class="board-image">
                <h3>President</h3>
                <p>Steve Roche</p>
                <a href="https://www.linkedin.com/in/steven-roche-a7a16b22b/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
            <div class="board-member">
                <img src="{% static 'images/xander.jpg' %}" class="board-image">
                <h3>Vice President, Treasurer</h3>
                <p>Xander Widener</p>
                <a href="https://www.linkedin.com/in/m-xander-widener/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
            <div class="board-member">
                <img src="{% static 'images/josh.jpg' %}" class="board-image">
                <h3>Event Coordinator</h3>
                <p>Joshua Gorniak</p>
                <a href="https://www.linkedin.com/in/joshua-gorniak/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
            <div class="board-member">
                <img src="{% static 'images/talia.png' %}" class="board-image">
                <h3>Lead Software Developer</h3>
                <p>Talia Kusmirek</p>
                <a href="https://www.linkedin.com/in/talia-kusmirek-b0421b289/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
            <div class="board-member">
                <img src="{% static 'images/michael.jpg' %}" class="board-image">
                <h3>Director of Marketing</h3>
                <p>Michael Lin</p>
                <a href="https://www.linkedin.com/in/michael-lin-b70048225/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
            <div class="board-member">
                <img src="{% static 'images/emma.jpg' %}" class="board-image">
                <h3>Director of Outreach</h3>
                <p>Emma Su</p>
                <a href="https://www.linkedin.com/in/emmmasu/" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="linkedin"></a>
            </div>
        </div>
    </div>



    <!-- Explore Section -->
    <div class="explore_tab">
        <h3>Explore our</h3>
        <a href="{% url 'lectures' %}">Lectures</a>
        <a href="{% url 'workshops' %}">Workshops</a>
        <a href="{% url 'resources' %}">Resources</a>
    </div>

    <!-- Call to Action (Discord Join) -->
    {% include 'myapp/contact.html' %}

    <div class = "footer">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="footer_logo">

        <div class="footer-links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'eboard' %}">Meet the Board</a>
            <a href="{% url 'lectures' %}">Lectures</a>
            <a href="{% url 'workshops' %}">Workshops</a>
            <a href="{% url 'events' %}">Calendar</a>
            <a href="{% url 'resources' %}">Resources</a>
        </div>
        <div class="footer-links" style="margin-top: 20px;">
            <a href="https://instagram.com/migbostoncollege" target="_blank"><img src="{% static 'images/instagram.png' %}" class="linkedin"></a>
            <a href="https://www.youtube.com/@migofbc" target="_blank"><img src="{% static 'images/youtube.png' %}" class="linkedin"></a>
        </div>
        <p style="font-size: 8px;">&copy; 2024 Boston College Machine Learning Group</p>
    </div>







    <script>
        function toggleAnswer(questionElement) {
            const faq = questionElement.parentElement;
            faq.classList.toggle('active');
            if (faq.classList.contains('active')) {
                faq.style.animation = 'bubblyJump 0.5s ease-in-out';
            } else {
                faq.style.animation = '';
            }
        }

        window.onscroll = function() {
    const nav = document.querySelector('nav');
    if (window.pageYOffset > 0) {
        nav.classList.add('sticky');
    } else {
        nav.classList.remove('sticky');
    }
};
    </script>
    <style>
        @keyframes bubblyJump {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
    </style>
</body>





</html>
