{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston College Machine Learning Group</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <div class = "nav-container">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
        </a>
            <a href="{% url 'eboard' %}">Meet the Board</a>
            <a href="{% url 'events' %}">Calendar</a>
            
            <div class="dropdown">
                <button class="dropbtn">Our Programs</button>
                <div class="dropdown-content">
                    <a href="{% url 'lectures' %}">Lectures</a>
                <a href="{% url 'workshops' %}">Workshops</a>
                <a href="{% url 'resources' %}">Resources</a>
                </div>
                <a href="https://discord.gg/gnuFjMQfgD" target="_blank">Join</a>
            </div>
        </div>
    </nav>

    <!-- Google Calendar Events Section -->
    <div class="events">
        <!-- Google Calendar Events Section -->
        <div class="events" style="margin-top: 50px; text-align: center;">
            <iframe src="https://calendar.google.com/calendar/embed?src=0cab6de18d3d4a4f68f61c63cce02fa128cf65c4ad06bf17d455287d65b38dd8%40group.calendar.google.com&ctz=America%2FNew_York&showTitle=false" style="border: 20px" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>



    <!-- Explore Section -->
    <div class="explore_tab">
        <h3>Explore our</h3>
        <a href="{% url 'lectures' %}">Lectures</a>
        <a href="{% url 'workshops' %}">Workshops</a>
        <a href="{% url 'resources' %}">Resources</a>
    </div>

    <!-- Call to Action (Discord Join) -->
    <!-- IMPLEMENT EMAIL SENT -->
    {% include 'myapp/contact.html' %}

    <div class = "footer">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="footer_logo">

        <div class="footer-links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'eboard' %}">Meet the Board</a>
            <a href="{% url 'lectures' %}">Lectures</a>
            <a href="{% url 'workshops' %}">Workshops</a>
            <a href="{% url 'events' %}">Calendar</a>
            <a href="{% url 'resources' %}">Resources</a>
        </div>
        <div class="footer-links" style="margin-top: 20px;">
            <a href="https://instagram.com/migbostoncollege" target="_blank"><img src="{% static 'images/instagram.png' %}" class="linkedin"></a>
            <a href="https://www.youtube.com/@migofbc" target="_blank"><img src="{% static 'images/youtube.png' %}" class="linkedin"></a>
        </div>
        <p style="font-size: 8px;">&copy; 2024 Boston College Machine Learning Group</p>
    </div>







    <script>
        function toggleAnswer(questionElement) {
            const faq = questionElement.parentElement;
            faq.classList.toggle('active');
            if (faq.classList.contains('active')) {
                faq.style.animation = 'bubblyJump 0.5s ease-in-out';
            } else {
                faq.style.animation = '';
            }
        }

        window.onscroll = function() {
    const nav = document.querySelector('nav');
    if (window.pageYOffset > 0) {
        nav.classList.add('sticky');
    } else {
        nav.classList.remove('sticky');
    }
};
    </script>
    <style>
        @keyframes bubblyJump {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
    </style>
</body>

</html>
